main p{ 
    color: goldenrod;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: x-small;
}
footer p{
    color:blanchedalmond;
}
#first{
    color: blueviolet
}
.second{
    color:green

}
.bigger{
    font-size: 24pt;
}


main .bigger{
    font-family: Jokerman;
}
.bolder{
    font-weight: bold;
}