body{
    font-family: 'Times New Roman', Times, serif
    
}
header{
    background-color: #e8e886;
}

header h1{
    margin: 0;
}
nav{
    display: none;
}
nav a{
    display: block;
    padding: 5px 10px;
    color: yellow;
    text-decoration: none;
}
.row{
    display: flex;
    flex-direction: row;
    /*gap: 10px;*/
    justify-content: space-between;
}
.flower{
    width: 200px;
    border: thin solid palegoldenrod;
    box-shadow: 3px 3px 5px palegoldenrod;
    margin: 5px;
}
.flower img{
    width: 100%;
}