body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(246, 239, 244);
}
nav a{
    color: rgb(60, 60, 60);
}
.current{
   color: rgb(255, 174, 186);
} 
.schedule{
    margin: 5px auto;
    border: thin solid black;
    border-spacing: 10px;
    border-collapse: collapse;
}

.schedule td, .schedule th{
    border: thin solid black;
    padding: 10px;
}
.schedule thead{
    background-color:rgb(255, 183, 214);
}

.schedule tbody tr :nth-child(odd){
    background-color: rgb(252, 201, 223);
}
.schedule tbody tr :nth-child(even){
    background-color: rgb(254, 240, 240);
}

caption{
    font-style: italic;
}
.faces{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    gap: 5px;
    justify-content: space-between;
    

}
.border{
    border: thin solid black;
    background-color: rgb(255, 235, 238);
    width: fit-content;
}



form {
    display: grid;
    gap: 15px;

  }
  
  form label {
    font-weight: bold;
  }
  
  form input, form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }
  
  form button {
    background-color: #ff5722;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #e64a19;
  }
  
  #form-message {
    padding: 15px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
  }
  

  
  
 
  @media screen and (max-width: 768px) {
    header nav ul {
      flex-direction: column;
      align-items: center;
    }
  
    header nav ul li {
      margin: 10px 0;
    }
  
    main {
      padding: 10px;
      margin: 0;
    }
  }